<div class="container-fluid profile">

    <!-- MOBILE: BEGIN -->
    <div class="row ptl visible-xs">
        <h3 id="presence_mobile_title" class="mll mbn pbm">{{t "system.presence.title"}}</h3>
        <div class="avatar-container">
          {{#if picture}}
              <img id="presence_mobile_profile_image" class="img-circle mbl pull-left profile-pic" {{bind-attr src=picture}} />
          {{else}}
              <img id="presence_mobile_profile_default_image" class="img-circle mbl pull-left profile-pic" src="/assets/person_114x114.png">
          {{/if}}
        </div>
        <div class="contact-info">
            <h3 id="presence_mobile_fullname" class="mtn mbn">
              {{first_name}} {{last_name}}
            </h3>
            <div class="row">
                <div id="presence_mobile_position_location" class="col-md-4 col-lg-4">
                  {{position}} {{#if position}}<br>{{/if}}
                  {{location}}
                </div>
                <div class="col-md-7 col-md-7">
                  {{#if email}}<a id="presence_email_link_xs" {{linkToMail email}} >{{email}}</a><br />{{/if}}
                  {{#if phone_number}}<a id="presence_phone_link_xs" {{linkToTel phone_number_link}} >{{phone_number}}</a><br />{{/if}}
                </div>
            </div>
        </div>
    </div>

    <!-- DESKTOP: BEGIN -->
    <div class="row ptl hidden-xs">
        <div class="avatar-container">
            {{#if picture}}
                <img id="presence_profile_image" class="img-circle mbl pull-left profile-pic" {{bind-attr src=picture}} />
            {{else}}
                <img id="presence_profile_default_image" class="img-circle mbl pull-left profile-pic" src="/assets/person_114x114.png">
            {{/if}}
        </div>
        <div class="contact-info">
            <h3 id="presence_fullname" class="mtn mbn">
                {{first_name}} {{last_name}}
            </h3>
            <div class="row">
                <div id="presence_position_location" class="col-sm-5 col-md-5 col-lg-5">
                    {{position}} {{#if position}}<br>{{/if}}
                    {{location}}
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                  {{#if email}}<a id="presence_email_link" href="" {{linkToMail email}} >{{email}}</a><br />{{/if}}
                  {{#if phone_number}}<a id="presence_phone_link" href="" {{linkToTel phone_number_link}} >{{phone_number}}</a><br />{{/if}}
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="user-details col-sm-7">
            <div id="presence_about_you_section" class="pll">
                <h3>{{t "system.presence.aboutyou"}}</h3>
                {{#if about}}
                    {{about}}
                {{else}}
                    Come back later to know more about me.
                {{/if}}
                <hr>
            </div>

            <div id="presence_education_section" class="pll">
                <h3><i class="fa fa-graduation-cap"></i> {{t "system.presence.education"}}</h3>
                <ul class="list-unstyled">
                {{#each education in model.educations }}
                    <li class="mbl clearfix">
                        <div id="presence_education_school"><strong>{{education.school}}</strong><br></div>
                        {{#if education.specialization}}<div id="presence_education_specialization">{{education.specialization}}</div>{{/if}}
                        {{#if education.description}}<div id="presence_education_description">{{education.description}}</div>{{/if}}
                    </li>
                {{else}}
                    Come back later to see my education.
                {{/each}}
                </ul>
                <hr>
            </div>

            <div id="presence_experience_section" class="pll">
                <h3><i class="fa fa-building-o"></i> {{t "system.presence.experience"}}</h3>
                <ul class="list-unstyled">
                    {{#each experience in model.experiences }}
                        <li class="mbl clearfix">
                            <div id="presence_experience_company"><strong>{{experience.company}}</strong><br></div>
                            <div id="presence_experience_title">{{experience.job_title}}<br></div>
                            {{#if experience.location}}<div id="presence_experience_location">{{experience.location}}</div>{{/if}}
                            {{#if experience.description}}<div id="presence_experience_description">{{experience.description}}</div>{{/if}}
                        </li>
                    {{else}}
                        Come back later to see my experience.
                    {{/each}}
                </ul>
                <hr>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-4">

        </div>
    </div>
</div>
