<a href="" {{action "transitionToProfile"}} {{bind-attr class=resultClass}}>
    <div {{bind-attr id="rowId"}} class="search-result-entry">
        <img class="img-circle pull-left mrm search-result-pic" {{bind-attr src=pictureLink}} />
        <span>{{{displayName}}}</span>
    </div>
</a>
