<div class="container-fluid login-container">

    <!-- MOBILE: BEGIN -->
    <h3 id="signin_title" class="mll mbn pbm visible-xs">{{t "system.signin.title"}}</h3>
    {{#if empty}}<h3 class="mll mbn pbm visible-xs">{{t "system.signin.noUsers"}}</h3>{{/if}}

    <div class="row visible-xs">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="list-group" id="loginTabs">
                    {{#if employees_count}}
                    <a data-toggle="modal" href="#loginModal_employees" class="modal-link list-group-item pal">
                        <span class="text-default">{{t "system.signin.employees"}}</span>
                        <span class="pull-right badge epic_color">{{employees_count}}</span>
                    </a>
                    {{/if}}
                    {{#if managers_count}}
                    <a data-toggle="modal" href="#loginModal_managers" class="modal-link list-group-item pal">
                        <span class="text-default">{{t "system.signin.managers"}}</span>
                        <span class="pull-right badge epic_color">{{managers_count}}</span>
                    </a>
                    {{/if}}
                    {{#if administrators_count}}
                    <a data-toggle="modal" href="#loginModal_administrators" class="modal-link list-group-item pal">
                        <span class="text-default">{{t "system.signin.administrators"}}</span>
                        <span class="pull-right badge epic_color">{{administrators_count}}</span>
                    </a>
                    {{/if}}
                    {{#if managersadmins_count}}
                    <a data-toggle="modal" href="#loginModal_manadmins" class="modal-link list-group-item pal">
                        <span class="text-default">{{t "system.signin.manageradmins"}}</span>
                        <span class="pull-right badge epic_color">{{managersadmins_count}}</span>
                    </a>
                    {{/if}}
                    {{#if employeesadmins_count}}
                      <a data-toggle="modal" href="#loginModal_empadmins" class="modal-link list-group-item pal">
                          <span class="text-default">{{t "system.signin.employeeadmins"}}</span>
                          <span class="pull-right badge epic_color">{{employeesadmins_count}}</span>
                      </a>
                  {{/if}}
                </div>
            </div>
        </div>

        <!-- Modal: EMPLOYEES -->
        <div class="modal fade" id="loginModal_employees" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="loginModal_employees_back" data-dismiss="modal"><i class="fa fa-chevron-left"></i> <span>Back</span></h4>
                    </div>
                    <div class="modal-body">
                        <h3>{{t "system.signin.employees"}}</h3>

                        {{validation-message message=msg_warning isDisplayXS=true }}

                        <div id="loginModal_employees_links" class="list-group">
                            {{#each person in sortedEmployees }}
                                <a href="#" {{action "linktoprofile" person id=uniqueprefix_emp__person.id}} class="list-group-item clearfix"><img class="img-circle mrm" {{bind-attr src=person.pictureLink}} width="40" />{{ person.fullname }}</a>
                            {{/each}}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- Modal: MANAGERS -->
        <div class="modal fade" id="loginModal_managers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="loginModal_managers_back" data-dismiss="modal"><i class="fa fa-chevron-left"></i> <span>Back</span></h4>
                    </div>
                    <div class="modal-body">
                        <h3>{{t "system.signin.managers"}}</h3>

                        {{validation-message message=msg_warning isDisplayXS=true }}

                        <div id="loginModal_managers_links" class="list-group">
                            {{#each person in sortedManagers }}
                                <a href="#" {{action "linktoprofile" person id=uniqueprefix_emp__person.id}} class="list-group-item clearfix"><img class="img-circle mrm" {{bind-attr src=person.pictureLink}} width="40" />{{ person.fullname }}</a>
                            {{/each}}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- Modal: MANADMINS -->
        <div class="modal fade" id="loginModal_manadmins" {{action "toggleBody"}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="loginModal_manadmins_back" data-dismiss="modal"><i class="fa fa-chevron-left"></i> <span>Back</span></h4>
                    </div>
                    <div class="modal-body">
                        <h3>{{t "system.signin.manageradmins"}}</h3>

                        {{validation-message message=msg_warning isDisplayXS=true }}

                        <div id="loginModal_manadmins_links" class="list-group">
                            {{#each person in sortedManagersAdmins }}
                                <a href="#" {{action "linktoprofile" person id=uniqueprefix_emp__person.id}} class="list-group-item clearfix"><img class="img-circle mrm" {{bind-attr src=person.pictureLink}} width="40" />{{ person.fullname }}</a>
                            {{/each}}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- Modal: EMPADMINS -->
        <div class="modal fade" id="loginModal_empadmins" {{action "toggleBody"}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="loginModal_empadmins_back" data-dismiss="modal"><i class="fa fa-chevron-left"></i> <span>Back</span></h4>
                    </div>
                    <div class="modal-body">
                        <h3>{{t "system.signin.employeeadmins"}}</h3>

                      {{validation-message message=msg_warning isDisplayXS=true }}

                        <div id="loginModal_empadmins_links" class="list-group">
                          {{#each person in sortedEmployeesAdmins }}
                              <a href="#" {{action "linktoprofile" person id=uniqueprefix_emp__person.id}} class="list-group-item clearfix"><img class="img-circle mrm" {{bind-attr src=person.pictureLink}} width="40" />{{ person.fullname }}</a>
                          {{/each}}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    <!-- MODAL: END -->
    </div>

    <!-- DESKTOP -->
    {{validation-message message=msg_warning isDisplayXS=false}}
    <h3 class="mll mbn pbm hidden-xs row-centered">{{t "system.signin.title"}}</h3>
    {{#if empty}}<h3 class="mll mbn pbm hidden-xs row-centered">{{t "system.signin.noUsers"}}</h3>{{/if}}
    <div class="row hidden-xs">
        <ul class="nav nav-pills nav-stacked col-sm-offset-3 col-sm-3 col-lg-offset-4 col-lg-2 prn" id="loginTabs">
            {{#if employees_count}}
            <li>{{#link-to "employees" id="signin_button_employees" data-toggle="pill" activeClass="signin-active" class="signin-inactive btn btn-block epic_anchor" }}{{t "system.signin.employees"}} <span class="pull-right badge">{{employees_count}}</span>{{/link-to}}</li>
            {{/if}}
            {{#if managers_count}}
            <li>{{#link-to "managers" id="signin_button_managers" data-toggle="pill" activeClass="signin-active" class="signin-inactive btn btn-block" }}{{t "system.signin.managers"}} <span class="badge pull-right">{{managers_count}}</span>{{/link-to}}</li>
            {{/if}}
            {{#if managersadmins_count}}
            <li>{{#link-to "manadmins" id="signin_button_managersadmins" data-toggle="pill" activeClass="signin-active" class="signin-inactive btn btn-block"}}{{t "system.signin.manageradmins"}} <span class="badge pull-right">{{managersadmins_count}}</span>{{/link-to}}</li>
            {{/if}}
            {{#if employeesadmins_count}}
            <li>{{#link-to "empadmins" id="signin_button_employeesadmins" data-toggle="pill" activeClass="signin-active" class="signin-inactive btn btn-block"}}{{t "system.signin.employeeadmins"}} <span class="badge pull-right">{{employeesadmins_count}}</span>{{/link-to}}</li>
            {{/if}}
        </ul>

        <!-- BEGIN: User Links -->
        {{#if model.length }}
        <div id="signin_userLinks" class="tab-content col-sm-4 col-lg-3 pln prn mbl">
            <div class="tab-pane pll pvm active">
                <p>
                    {{#each person in sortedModel }}
                        <a href="#" {{action "linktoprofile" person}} class="btn btn-block signin-person-link"><img class="img-circle mrm" {{bind-attr src=person.pictureLink}} width="40" />{{ person.fullname }}</a>
                    {{/each}}
                </p>
            </div>
        </div>
        {{/if}}
        <!-- END: User Links -->

    </div>

</div>
